@import "tailwindcss";

@theme {
  --color-primary: #198de6;
  --color-primary-dark: #0f74c4;
  --color-background: #f8fafc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
}

#root {
  min-height: 100vh;
}
